@import "~bootstrap/scss/bootstrap" ;

body {
    // background-color: rgba(44, 42, 42, 0.767);
}

.icone {
    width: 2rem;
}

// Navbar

.navbar {
    width: 100%;
}

.dropdown-toggle {
	margin-left: 13rem;
}


 // Leaflet
#mapid { 
    margin-top: 5%;
    margin: auto;
    height: 30rem; 
    width: 69rem;
}

#mapidinfo { 
    margin-top: 75%;
    // margin: auto;
    height: 20rem; 
    width: 49rem;
}
 
.geo {
    height: 1.5rem;
}

.test {
    background-color: rgba(44, 42, 42, 0.767);
    border: solid, 1px;
    border-radius:0% 0% 5% 5%;
}


//checkbox_Users
.switch_box{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

/* Switch 1 Specific Styles Start */
input[type="checkbox"].switch_1{
	font-size: 30px;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	width: 1.5em;
	height: 0.5em;
	background: rgb(190, 4, 4);
	border-radius: 3em;
	position: relative;
	cursor: pointer;
	outline: none;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
  }
  
  input[type="checkbox"].switch_1:checked{
	background: #05e029cc;
  }
  
  input[type="checkbox"].switch_1:after{
	position: absolute;
	content: "";
	width: 0.5em;
	height: 0.5em;
	border-radius: 50%;
	background: #fff;
	-webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
	        box-shadow: 0 0 .25em rgba(0,0,0,.3);
	-webkit-transform: scale(.7);
	        transform: scale(.7);
	left: 0;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
  }
  
  input[type="checkbox"].switch_1:checked:after{
	left: calc(100% - 0.5em);
  }


  .custom-file-input ~ .custom-file-label:lang(fr)::after {
	content: "Choisir...";
  }
  .custom-file-input ~ .custom-file-label:lang(es)::after {
	content: "Elegir...`";
  }

  // trails
  .trails {
	display: grid;
	grid-template-columns: repeat(5, 3fr);
	grid-gap: 1%;
	// grid-auto-rows: minmax(100px, auto);
  }

  .alltrails {
	  display: inline-block;
	//   width: 20rem;
	//   height: 20rem;
  }

//   .alltrails:hover {
// 	  width: 30rem;
// 	  height: 30rem;
//   }

  .formTrail {
	margin-left: 30%;
	margin-right: 30%;
  }


  //login
  .cardLogin {
	border-style: solid;
	border-radius:1%;
	margin-top:5%;
	margin-left: 25%;
	margin-right: 25%;
	padding: 1%;
	border-color: #93b38bd6;
  }

 