{% trans_default_domain 'FOSUserBundle' %}

<h2 class="text-center mt-5">Changer de mot de passe<img src="/images/password.png" class="icone ml-5" alt="icone"/></h2>
<div class="container animated fadeInUpBig duration1">
        <div class='cardLogin'>
{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
        <input class="btn-primary btn" type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
        </div>
</div>
{{ form_end(form) }}
