{% if is_granted('ROLE_ADMIN') %}
{% elseif is_granted('ROLE_MANAGER') %}
{% else %}
{% endif %}
{# <div class="container">
  <div class="row">
    <div class="col-sm-3">
      <img class="card-img-top" src="..." alt="Card image cap">
    </div>
    <div class="col-sm-3">
      <div class="card">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
      </div>
    </div>
    <div class="col-sm-3">
      <img class="card-img-top" src="..." alt="Card image cap">
    </div>
    <div class="col-sm-3">
      <div class="card">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
      </div>
    </div>
  </div>
</div> #}


<div class="up">
  <div class="scrollUp" id="scrollUp">
    <a href="#"><img class="img-thumbnail" src="/images/top.png"/></a>
  </div>
</div>
