

{% if app.user %}
<div class="container mb-5 mt-2">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active text-success" id="home-tab" data-toggle="tab" href="#top" role="tab" aria-controls="top" aria-selected="true">▲</a>
              </li>
            <li class="nav-item">
              <a class="nav-link text-success" id="home-tab" data-toggle="tab" href="#favoris" role="tab" aria-controls="favoris" aria-selected="true">Favoris</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-success" id="profile-tab" data-toggle="tab" href="#trails" role="tab" aria-controls="trails" aria-selected="false">Mes trails</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-success" id="contact-tab" data-toggle="tab" href="#compte" role="tab" aria-controls="compte" aria-selected="false">Compte</a>
            </li>
          </ul>
          <div class="tab-content test" id="myTabContent">
            <div class="tab-pane fade show active" id="top" role="tabpanel" aria-labelledby="contact-tab"><img src="/images/bann.png"></div>
            <div class="tab-pane fade" id="favoris" role="tabpanel" aria-labelledby="favoris-tab">...</div>
            <div class="tab-pane fade" id="trails" role="tabpanel" aria-labelledby="trails-tab">
              <div class="trails">
                {% for trail in trails %}
                <div class="container alltrails">
                      <div class="card">
                              <img class="card-img-top" src="{{ trail.image}}" alt="Card image cap">
                              <div class="card-body">
                              <h5 class="card-title">{{ trail.titre }}</h5>
                            <p class="card-text">{{ trail.description}}</p>
                          </div>
                      </div>
                </div>
                {% endfor %}
              </div>
              </div>
            <div class="tab-pane fade" id="compte" role="tabpanel" aria-labelledby="compte-tab">...</div>

          </div>
    </div>
</nav>
</div>
{% endif %}



