<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welgffcome!{% endblock %}</title>
        
        <!--  Load Leaflet -->
        {# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script> #}
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>
  

        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>

        <header>
            {% block header %}     
                {% include "partials/header.html.twig" %}
            {% endblock %}
        </header>

        <main>{% block body %}{% endblock %}</main>

        <footer>
            {% block footer %}
                {% include "partials/footer.html.twig" %}
            {% endblock %}
        </footer>
        <a class="btn btn-outline-success col" href="{{ path('fos_user_registration_register') }}">Créer un compte</a>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
            <script src="/assets/geo.js"></script>
            <script src="/assets/app.js"></script>
    {% endblock %}
    </body>
</html>
